<!DOCTYPE html>
<html>
  <head>
    <title>TestEcologapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'http://d3js.org/d3.v3.min.js' %>
    <%= javascript_include_tag 'https://cdn.plot.ly/plotly-latest.min.js' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
